@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.main-container{
    width: 360px;
    height: 379px;
    display: flex;
    background-color: #0B2434;
}

.parent-div{
    width: 320px;
    height: 320px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    flex-direction: column;
    margin: 30px 20px 30px 20px;
    background-color: #F5F5F5;
}

.parent-div > div{
    width: 100%;
}


.dice-div{
    display: grid;
    margin: 0px 34.5px 0px 34.5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 18px;
    grid-column-gap: 17.9px;
}

.dice{
    display: flex;
    height: 35px;
    font-weight: 700;
    color: #2B283A;
    line-height: 24px;
    cursor: pointer;
    font-style: normal;
    align-items: center;
    font-family: 'Karla';
    font-size: 20.5889px;
    justify-content: center;
    border-radius: 3.81277px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.held{
    background-color: #59E391;
}


.header-game{
    color: #2B283A;
    font-weight: 700;
    font-size: 25.6px;
    line-height: 30px;
    font-style: normal;
    letter-spacing: -0.03em;
    font-family: 'Karla', sans-serif;
}

.header-div{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
}

.header-div > p{
    margin: 2px 0px 23px 0px;
    max-width: 232px;
    color: #4A4E74;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    font-size: 13.1072px;
    letter-spacing: -0.03em;
    font-family: 'Inter', sans-serif;
}

.roll-div > button{
    border: none;
    width: 92.16px;
    cursor: pointer;
    height: 35.84px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 19px;
    font-style: normal;
    font-size: 16.384px;
    font-family: 'Karla';
    border-radius: 3.81px;
    margin-top: 25.6px;
    background-color: #5035FF;
}

.roll-div > button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

